server {
  # envsubst REEMPLAZARÁ $PORT con el valor de Railway
  listen       $PORT;
  server_name  _;

  root   /usr/share/nginx/html;
  index  index.html;

  location / {
    try_files $uri /index.html;
  }

  error_page 404 /index.html;
}
