# nginx/default.conf.template
server {
  # si $PORT no está definido, escucha en 80
  listen ${PORT:-80};
  server_name _;

  root /usr/share/nginx/html;
  index index.html;

  location / {
    try_files $uri /index.html;
  }

  error_page 404 /index.html;
}
